body{
font-family: helvetica, sans-serif;
margin: 0px;
padding: 0px;
font-size: 11px
}
table.content
{
width: 100%;
height: 100%;
margin-left: 5px;
margin-top: 5px;
border-spacing: 0px;
padding: 0px;
border: 0px
}
#emptycell
{
width: 275px;
height: 250px
}
#whiteboard
{
	left: 5px;
	top: 5px;
	border: #999 1px solid;
	border-spacing: 0px;
	padding: 0px;
	width: 256px;
	height: 256px;
	
}
.simple
{
background-color: white;
width: 1px;
height: 1px;
font-size: 1px;
margin: 0px;
padding: 0px;
position: absolute;
z-index: 5;
}
input
{
margin-left: 10px;
border: #999 1px solid
}
