body {background-color: #fff; margin: auto; font: 12px Arial}

#SohbetGenel {width: 523px; margin: 30px auto}
#SohbetIcerik{background-color: #fff; padding: 10px; border: 3px solid #ddd; max-height: 300px; overflow:auto}
#mesajGonder {color: #000; padding: 10px 0}
#mesajGonder h3{float: left; margin-right:20px; padding-top: 10px}
#mesajGonder textarea {border: 2px solid #ddd; padding: 5px; width: 527px; resize:none; overflow: auto}
.sohbetMesaji {padding: 5px}
.sohbetMesaji strong{background-color: #000; color:#fff; padding: 2px 5px; font-size: 14px; margin-right: 10px}
#giris {background-color: #fff; border: 3px solid #ddd; padding: 5px; width: 300px; margin: 30px auto}
#giris span {display: block; padding: 3px}
#giris span input.giris_in{border: 1px solid #aaa; padding: 5px width:280px}
